<?xml version="1.0" encoding="utf-8"?>
<manifest package="free.rm.skytube"
		  xmlns:android="http://schemas.android.com/apk/res/android">

	<uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>

	<application
		android:name=".app.SkyTubeApp"
		android:allowBackup="true"
		android:icon="@mipmap/ic_launcher"
		android:label="@string/app_name"
		android:supportsRtl="true"
		android:hardwareAccelerated="true"
		android:largeHeap="true"
		android:theme="@style/AppTheme">

		<!-- This will allow the app to use update its self (due to security changes in Android 7.0+)  -->
		<provider
			android:name="android.support.v4.content.FileProvider"
			android:authorities="${applicationId}.provider"
			android:exported="false"
			android:grantUriPermissions="true">
			<meta-data
				android:name="android.support.FILE_PROVIDER_PATHS"
				android:resource="@xml/provider_paths"/>
		</provider>

		<activity
			android:name=".gui.activities.MainActivity"
			android:theme="@style/NoActionBarActivityTheme">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity>
		<activity
			android:name=".gui.activities.YouTubePlayerActivity"
			android:configChanges="orientation|keyboardHidden|screenSize"
			android:theme="@style/VideoPlayerActivityTheme">
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />

				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.BROWSABLE" />

				<data android:scheme="http" />
				<data android:scheme="https" />

				<data android:host="youtube.com" />
				<data android:host="m.youtube.com" />
				<data android:host="www.youtube.com" />
				<data android:host="youtu.be" />
			</intent-filter>
		</activity>
		<activity android:name=".gui.activities.PreferencesActivity"/>
	</application>

</manifest>
