<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="free.rm.skytube">

	<uses-permission android:name="android.permission.INTERNET"/>                   <!-- Mandatory permission -->
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>     <!-- [Optional]  Used for database backups and to download videos/thumbnails -->
	<uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>   <!-- [Optional]  Only used by SkyTube Extra flavor to update the app -->
	<!--<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/> -->     <!-- [Optional]  If enabled via the preferences, the app will periodically check for new videos published by the subscribed channels -->
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>       <!-- Used when user tried to download a video to check whether the user is using cellular network or WIFI -->

	<application
		android:name=".app.SkyTubeApp"
		android:allowBackup="true"
		android:hardwareAccelerated="true"
		android:icon="@mipmap/ic_launcher"
		android:label="@string/app_name"
		android:largeHeap="true"
		android:supportsRtl="true"
		android:theme="@style/AppTheme">

		<!-- This will allow the app to use update its self (due to security changes in Android 7.0+) -->
		<provider
			android:name="android.support.v4.content.FileProvider"
			android:authorities="${applicationId}.provider"
			android:exported="false"
			android:grantUriPermissions="true">
			<meta-data
				android:name="android.support.FILE_PROVIDER_PATHS"
				android:resource="@xml/provider_paths"/>
		</provider>

		<activity
			android:name=".gui.activities.MainActivity"
			android:theme="@style/NoActionBarActivityTheme">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>

				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity>
		<activity
			android:name=".gui.activities.YouTubePlayerActivity"
			android:configChanges="orientation|keyboardHidden|screenSize"
			android:theme="@style/VideoPlayerActivityTheme">
			<intent-filter>
				<action android:name="android.intent.action.VIEW"/>

				<category android:name="android.intent.category.DEFAULT"/>
				<category android:name="android.intent.category.BROWSABLE"/>

				<data android:scheme="http"/>
				<data android:scheme="https"/>
				<data android:host="youtube.com"/>
				<data android:host="m.youtube.com"/>
				<data android:host="www.youtube.com"/>
				<data android:host="youtu.be"/>
			</intent-filter>
		</activity>
		<activity android:name=".gui.activities.PreferencesActivity"/>
		<activity
			android:name=".gui.activities.ThumbnailViewerActivity"
			android:theme="@style/NoActionBarActivityTheme">
		</activity>

		<!--<service android:name=".businessobjects.FeedUpdaterService"/>-->

		<!--<receiver-->
			<!--android:name=".businessobjects.FeedUpdaterSetupReceiver"-->
			<!--android:enabled="true">-->
			<!--<intent-filter>-->
				<!--<action android:name="android.intent.action.BOOT_COMPLETED"/>-->
			<!--</intent-filter>-->
		<!--</receiver>-->
		<!--<receiver-->
			<!--android:name=".businessobjects.FeedUpdaterReceiver"-->
			<!--android:enabled="true">-->
		<!--</receiver>-->

		<activity
			android:name=".gui.activities.PermissionsActivity"
		    android:theme="@style/TransparentActivity">
		</activity>
	</application>

</manifest>